+modal("Modal title","myModal")
	p This is modal content
	form
		+input("phone","text","txtName","Name","Name")
		+input("email","email","emailName","Email","Email")
		+checkbox("Check me out")
		+radio("My Radio Button")
		+submit("Register")