//- bootstrap mixins
//- Including Icon mixins
include ../bower_components/jade-bootstrap/components/icons
//- Including Alert mixins
include ../bower_components/jade-bootstrap/components/alerts
//- Including Tooltip mixins
include ../bower_components/jade-bootstrap/components/tooltips
//- Including Accordion mixins
include ../bower_components/jade-bootstrap/components/accordion
//- Including Carousel mixins
include ../bower_components/jade-bootstrap/components/carousel
//- Including Table mixins
include ../bower_components/jade-bootstrap/components/tables
//- Including Navbar mixins
include ../bower_components/jade-bootstrap/components/navbar
//- Including Toggle Button mixins
include ../bower_components/jade-bootstrap/components/toggle
//- Including Nav mixins
include ../bower_components/jade-bootstrap/components/navs
//- Including Label mixins
include ../bower_components/jade-bootstrap/components/labels
//- Including Panel mixins
include ../bower_components/jade-bootstrap/components/panels
//- Including Tab mixins
include ../bower_components/jade-bootstrap/components/tabs
//- Including Dropdown mixins
include ../bower_components/jade-bootstrap/components/dropdowns
//- Including Form control mixins
include ../bower_components/jade-bootstrap/components/forms
//- Including Modal dialog mixins
include ../bower_components/jade-bootstrap/components/modal
//- Including List group mixins
include ../bower_components/jade-bootstrap/components/list-groups
//- Including Progress bar mixins
include ../bower_components/jade-bootstrap/components/progress-bars
//- Including Button mixins
include ../bower_components/jade-bootstrap/components/buttons
//- Including Image mixins
include ../bower_components/jade-bootstrap/components/images
//- Including Bootswatch theme mixins
include ../bower_components/jade-bootstrap/components/bootswatch