include ../bower_components/bemto/bemto.jade
include _bootstrap.jade
include mixins/_mixins

extends _template

block body
	include blocks/header/_header
	include blocks/section1/_section
	include blocks/section2/_section
	include blocks/section3/_section
	include blocks/section4/_section
	include blocks/section5/_section
	include blocks/section6/_section
	include blocks/section7/_section
	include blocks/section8/_section
	include blocks/section9/_section
	include blocks/section10/_section
	include blocks/footer/_footer
	include blocks/modals/_modals


